body{
  font-family: courier;
  margin: 0px auto;
  width: 100%;
  height: 100%;
  background: black;
}
a{
  text-decoration:none;
  color:black;
  margin:0;
  padding:0.5em;
  background: tomato;
  border: 1px solid black;
  border-radius: 9px;
  text-align: center;
}
#main{
  position: relative;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-rows: 1fr 15fr 2fr;
  grid-gap: 0.1em;
}
#nav{
  grid-row: 1;
  padding: 1em;
  height: calc(50px - 2em);
  width: calc(100% - 2em);
  background: black;  
  color: tomato;
}
#logo{ grid-column: 1/2;}
#links{ grid-column: 3/8;}
#home{ grid-column: 1/4;}
#info{ grid-column: 4/7;}
#tokens{ grid-column: 7/10;}
#gov{grid-column: 10/13;}
#account{ grid-column: 8/13;}
#login{ grid-column: 7/9;}
#signup{ grid-column: 9/11;}
#wallet{ grid-column: 11/13;}
#show{
  grid-row: 2;
  height: 100%;
  width: 100%;
  background: tomato;
  padding: 1em;
  height: calc(100% - 2em);
  width: calc(100% - 2em);  
}
#post{
  grid-row: 1/4;
  grid-column: 1/3;
  background: white;
  padding : 1em;
}
#article_head{grid-row: 1;
  grid-column: 3/7;
  background: white;
  padding : 1em;}
#article_body{grid-row: 2/5;
  grid-column: 3/7;
  background: white;
  padding : 1em;}
#foot{
  grid-row: 3;
  height: 50px;
  width: 100%;
  background: black;
  color: white;
  padding: 1em;
  height: calc(50px - 2em);
  width: calc(100% - 2em);
  color: tomato;
}
.stage{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 1em;
}
.bar{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 1em;
}
.list{
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 1em;
}